<table class="pure-table pure-table-striped contact-list" ng-controller="ContactListCtrl">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="contact in contacts | filter:query | orderBy:orderProp">
            <td>
                <a href="#/contacts/{{contact.id}}">{{contact.name}}</a>
            </td>
            <td>
                <a href="#/contacts/{{contact.id}}/edit">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
            <td>
                <button class="button-warning pure-button" ng-click="delete(contact)">
                    <i class="fa fa-remove"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>