<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label>Username</label>
            <input type="text" v-model="contact.name" placeholder="Username"/>
        </div>

        <div class="pure-control-group">
            <label>Email</label>
            <input type="email" v-model="contact.email" placeholder="Email"/>
        </div>

        <div class="pure-control-group">
            <label>Phone</label>
            <input type="text" v-model="contact.phone" placeholder="Phone"/>
        </div>

        <div class="pure-controls">
            <button class="pure-button pure-button-primary" v-on="click: save(contact)">Save</button>
        </div>
    </fieldset>
</form>
